/** code by webdevtrick ( https://webdevtrick.com) **/
* {
  margin: 0;
  padding: 0;
}
aside {
  position: fixed;
  width: 20%;
  height: 100vh;
}
aside .selected-font, span {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;

}
aside .search-font {
  margin: 10px 0;
  text-align: center;
}
aside .search-font input {
  width: 80%;
  font-size: 15px;
  padding: 5px 10px;
}
aside #fonts {
  height: 100%;
  background: #F9F9F9;
  font-size: 1.2rem;
  padding-left: 0;
  overflow-y: scroll;
  list-style: none;
}
aside #fonts li {
  padding: 5px;
  cursor: pointer;
  font-size:1.2rem;
}
main {
  position: absolute;
  width: 80%;
  height: 100vh;
  left: 20%;
  background: #212121;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  background: #e8e8e8;
  color: #444444;
}
header .size {
  width: 100%;
  text-align: center;
}
header .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
 header .size input[type="range"] {
  margin: 0 5px;
}
h1{
 width: 100%;
 font-size:1.5rem;
}
header .copy-this-font button {
  width: 100px;
  height: 2rem;
  background-color: #48BDFF;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;

}
#content {
  width: 100%;
  height: 100vh;
  font-size: 50px;
  text-align: center;
  color: #fbfbfb;
  background: #363636;
  resize: none;
  overflow-x: hidden;
  border: 0;
}
#content:focus {
  outline: 0;
}
main .codeby {
	bottom: 5%;
	right: 3%;
	position: absolute;
	color: white;	
}
.codeby a {
	text-decoration: none;
	color: #FD3F42;
}
@media all and (max-width: 600px) {
  aside {
    width: 30%;
  }
  main {
    width: 70%;
    left: 30%;
  }
 h1 {
    display: none;
    }

}

@media all and (min-width: 1200px) {
  aside {
    width: 15%;
  }
  main {
    width: 85%;
    left: 15%;
  }
}